#splash {
  text-align: center;
}
#splash b {
  color: #61f3cf;
}
#splash #ard_py {
  margin-top: 2.5%;
  width: 40%;
  margin-left: 30%;
  opacity: 0.8;
}
#splash #ard_py img {
  width: 15%;
  padding: 5%;
  display: inline-block;
}
#splash #ard_py p {
  border: none;
  padding: 0 !important;
  margin-bottom: 5%;
}
#logo {
  text-align: center;
}
#logo img {
  width: 25%;
  margin-top: 2.5%;
  opacity: 0.9;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
}
#logo p {
  border: medium none;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  opacity: 0.5;
}
#ker {
  padding-top: 10%;
}
#ker .col {
  width: 15%;
  margin: 0 8.999%;
  text-align: center;
}
#ker .col img {
  width: 45%;
  padding: 25px;
}
#ker .col h2 {
  font-family: 'Quicksand', sans-serif;
  color: #61f3cf;
  font-size: 1.2em;
  font-weight: lighter;
}
#ker .col .text {
  padding: 25% 0%;
}
#ker .col .text b {
  color: white;
}
#started .col {
  width: 29%;
  padding: 0 10%;
}
#started h2 {
  font-family: 'Quicksand', sans-serif;
  color: #61f3cf;
  font-size: 1.2em;
  font-weight: lighter;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  color: whitesmoke;
  font-size: 1em;
}
body b {
  olor: #61f3cf;
}
body p {
  margin-top: 5%;
  padding-left: 10%;
}
body a {
  color: white;
  text-decoration: #d3b849 underline dashed;
}
body a:hover {
  color: #ffdf56;
}
body .code {
  background: rgba(255, 255, 255, 0.19) none repeat scroll 0% 0%;
  padding: 2px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.9em;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  color: #d3b849;
  font-size: 2em;
  font-weight: lighter;
  padding-left: 5%;
}
pre {
  width: 75%;
  margin-left: 10% !important;
  font-size: 0.85em;
}
pre code {
  background: none !important;
  box-shadow: none !important;
}
#background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: -moz-radial-gradient(top, circle, #2b4d4d, #211a47 80%);
  background-image: -ms-radial-gradient(top, circle, #2b4d4d, #211a47 80%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#2b4d4d), to(#211a47));
  background-image: -webkit-radial-gradient(top, circle, #2b4d4d, #211a47 80%);
  background-image: -o-radial-gradient(top, circle, #2b4d4d, #211a47 80%);
  z-index: -11;
}
body {
  width: 100%;
  transition: all .5s;
}
body .box {
  display: inline-block;
  width: 100%;
}
@media (min-width: 750px) {
  body .box {
    height: 100vh !important;
  }
}
@media (max-width: 750px) {
  body .box {
    min-height: 100vh !important;
  }
}
.social-box {
  margin: 20px 0;
}
.col {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
@media (max-width: 750px) {
  .col {
    width: 80% !important;
  }
}
#nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  max-height: 10%;
  text-align: center;
  padding: 0;
}
#nav .nav-box {
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
#nav .nav-box .icon {
  font-size: 3em;
  color: #d3b849;
  opacity: 0.5;
  transition: all .4s;
}
#nav .nav-box .icon:hover {
  opacity: 1;
  cursor: pointer;
}
.doc-link {
  text-decoration: none;
  color: #ffdf56;
  opacity: 0.8;
}
.doc-link img {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}
.doc-link:hover {
  opacity: 1;
}
